{% extends "shufflers/base.html" %}

{% block content %}
    <div class="d-flex flex-column container-fluid align-items-center justify-content-center position-absolute top-50 start-50 translate-middle">
            <h1>Spotify Liked Songs Shuffler</h1>
        <form action="/shufflesongs" method="post" {margin-top: 100px}> 
            {% csrf_token %}
            <input type="number" id="numSongs" name="numSongs" min="1" placeholder="Add songs to queue!" required>
            <input type="submit" value="Shuffle!">
        </form>
    </div>
    
{% endblock %}